#body-content-container {
    width: 700px;
    margin: auto;
}

#home-group{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#item_description {
    margin-top: 10px;
}

#main-menu {
    text-align: right;
    display: flex;
    height: 150px;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-end;
}

#store-product-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    margin: auto;
    padding-bottom: 25px;
}

#store-product-wrapper-product-page{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    margin: 10px 0px 20px 0px;
}

#back_button{
    color: black;
}

#navigation-menu {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 10px;
    border-bottom: 20px solid black;
}

#cart {
    align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

span {
    margin: 0px 5px 0px 5px;
}

#main-menu > li {
    font-size: 1.2em;
}

#nav_logo {
    height: 10em;
}

#nav_soap {
    width:300px;
}

#gram_link{
    width: 30px;
}

#price_cart{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#product-page-nav-links {
    display: flex;
    flex-flow: row nowrap;
}



img.slider {
    width: 300px;
}

.gradient-border {
    --border-width: 3px;
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    background: #222;
    border-radius: var(--border-width);
  }
  .gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }


.product-container {
    text-align: center;
    font-family: "Amatic SC", cursive;
    font-size: 1.3em;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 220px;
    margin: 0px 3px 15px 0px;
}

a.home_button {
    width: 150px;
    text-align: center;
}

.home_button {
    color: white;
    background-color: black;
}

.product-page-img{
    height: 350px;
    margin: 5px;
    padding: 10px;
}

img.too-big {
    width: 150px;
    height: auto;
}

.product-container p{
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
}

.product-container img {
    height: 120px;
}

p {
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    font-size: 2em;
}


li {
    list-style-type: none;
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    font-size: 2em;
}

li a {
    font-size: 1.5em;
}

button{
    text-anchor:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    font-size: 3em;
}

h1 {
    font-family: 'Sigmar One', cursive;
    font-weight: bold;
    font-size: 7em;
    margin: 0px;
}

h3 {
    font-family: 'Sigmar One', cursive;
    font-weight: bold;
    font-size: 2em;
    margin: 0px;
}
